name: Build Atmosphere loader kip because horizon oc doesn't want to build the kip so now we're trying to build atmosphere WITHOUT horizon-oc to see if the issue is devkitpro, github actions of horizon oc, who knows

on:
  push:
    branches: [ develop, main, master ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: devkitpro/devkita64:latest

    steps:
      - name: Checkout repository (with submodules)
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Set devkitPro environment
        shell: bash
        run: |
          echo "DEVKITPRO=/opt/devkitpro" >> "$GITHUB_ENV"
          echo "DEVKITA64=/opt/devkitpro/devkitA64" >> "$GITHUB_ENV"
          echo "DEVKITARM=/opt/devkitpro/devkitARM" >> "$GITHUB_ENV"
          echo "PATH=/opt/devkitpro/devkitA64/bin:/opt/devkitpro/devkitARM/bin:$PATH" >> "$GITHUB_ENV"

      - name: Build and install latest libnx just in case atmosphere still errors out because this time we're trying the latest versions in case the action builds do not want to work on atmosphree 1.10.2 maybe master works but that would cause an inconsitency in horizon-oc anyways let's try
        shell: bash
        run: |
          git clone --depth=1 https://github.com/switchbrew/libnx.git
          cd libnx
          make -j"$(nproc)"
          make install

      - name: Clone Atmosphere
        shell: bash
        run: |
          git clone --depth=1 --single-branch https://github.com/Atmosphere-NX/Atmosphere.git atmosphere

      - name: Build loader
        shell: bash
        working-directory: atmosphere/stratosphere/loader
        run: |
          make -j"$(nproc)"
